html{
    font-family: 'Rockwell', sans-serif;
}

body {
    background: #fafafa;
    color: black;

  }
  
  .bg-color {
    background-color: rgb(156, 217, 207);
  }

.navbar-brand img{
    height : 3rem;
    width:9rem;
    object-fit: contain;
    margin-left: auto;
}
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    margin-top:2rem;
  }
  
  .account-heading {
    font-size: 2.5rem;
    margin-top:2rem;
  }
  
.content-section{
    margin:2rem;
}

.img-valign {
    vertical-align: middle;
    height:20px;
    width:20px;

}.dropdown:hover>.dropdown-menu{
    display: block;
}

.navbarcolor{
    color: black;
}

.nav-item{
    margin-top: 5px;
    margin-bottom:0;
}

.small-icons{
    height: 20px;
    width:20px;
}
.layout-div{
    border: 20px solid transparent;
}


/*.nav-link{
    list-style: none;
    padding: 1rem;
    margin: 0rem 1rem;
    position: relative;
    letter-spacing: 2px;
    display: block;
    font-weight: bolder;
    font-size: small;
    transform:translateX(100rem);
    animation: slideIn .5s forwards;
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav-link:hover {color: grey;}
.nav-link:hover .dropdown-menu{
    display:block;
}


.nolist a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nolist a:hover {background-color: #ddd;}

nav-link:hover .nolist{display: block;}*/


/*.style-nav::before,
.style-nav::after{
    content:'';
    position: absolute;
    width:100%;
    height:2px;
    background-color:rgba(166,63,63);
    left:0;
    transform: scaleX(0);
    transition: all 0.25s;
}

.style-nav::before{
    top:0;
    transform-origin:left;
}

.style-nav::after{
    bottom:0;
    transform-origin:right;
}

.style-nav:hover::before,
.style-nav:hover::after{
    transform: scaleX(1);
}

*/

/*
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:black;
}

header{
    width: 100%;
    height:100vh;
    background-color: white;
}

.container{
    max-width: 150rem;
    width: 100%;
    margin: 0;
    height: 10rem;
}

.main-form{
    width: 450px;
    margin: auto;

}
nav{
    padding-top:1rem;
    display: flex;
    justify-content:space-between;
    align-items: right;
    text-transform: uppercase;
    font-size: 1rem;
    background-color:rgba(156,217,207);
    margin:0;
    width:100%;
}

.neutral img{
    text-transform: lowercase;
    font-size:2rem;
    font-weight:300;
    padding-bottom: 1rem;
    padding-left: 8rem;
    transform:translateX(-100rem);
    animation: slideIn .5s forwards;
    height : 6rem;
    width:20rem;
}

.neutral a{
    color: rgba(166,63,63);
}


nav ul li:nth-child(1){
    animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: 0.5s;
}

nav ul li:nth-child(3){
    animation-delay:1s;
}

nav ul li:nth-child(4){
    animation-delay: 1.5s;
}*/

/*

nav ul li ul a::before,
nav ul li ul a::after{
    display:none;
}


nav ul li ul li{
    padding-right:1rem;
}


nav ul li:hover ul{
    display:block;
}

nav ul li ul li:hover{
    background-color: rgba(106,167,157);
}


