body {
    background-color: #FFFAF0;
  }

.searchsearch{
    margin-top:190%;
}

dl{
    width:50%
    display:inline-block;
}
.main-form{
    width:90%;
}

.search-form{
    width:90%;
}
.anybutton{
    margin-top:20%;
}
.add-div{
    margin-left: 5px;
}

input#foodname.form-control{
    width:100%
}
label.control-label{
    width:100%
}
.food-record-add{
    width:650px;
}

.food-record-search{
    margin-right:10px;
    margin-top:150%;
}
  

.first-row{
     margin-top:20px;
  }
.results{
      background-color:white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;
      padding: 10px;
      margin-top: 20px;
  }
.results-row{
      background-color:#ccffe6;
  }
  
body {
    background-color: #FFFAF0;
}
 .date-buttons{
      margin-bottom:10px;
    }
 .food-intake{
      margin-bottom:5px;
    }
 .ct-label {
      font-size: 1.5em;
      color:black;
      fill:black;
  }
  .btn-primary{
    color: #f2cbbb;
  }
    .ct-series-a .ct-slice-donut {
    stroke: rgb(100, 100, 233);
  }
    .ct-series-b .ct-slice-donut {
    stroke: rgb(100, 233, 155);
  }
    .ct-series-d .ct-slice-donut {
    stroke: rgb(253, 206, 77);
  }
    .ct-series-c .ct-slice-donut {
    stroke: rgb(235, 76, 76);
  }

.editbtn{
    margin-bottom: 3%;
}

.parent{
    display:flex;

}