<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <title>Test</title>

    <link rel="stylesheet" href = "main.css">
</head>
<body>
    <header>
      <div class = "container">
        <nav>
          <h1 class="neutral">
            <a href="{{ url_for('home') }}"><img src="logo.png"/></a>
          </h1>
          <ul>
            <li><a href="{{ url_for('home') }}"><img class='img-valign' src="home.png"/> Home</a></li>
            <li><a href="{{ url_for('food') }}"><img class='img-valign' src="food.png"/> Food</a>
                <ul>
                    <li><a href="{{ url_for('fooddiary') }}">Diary</a></li>
                    <li><a href="{{ url_for('searchfood') }}">Search Food</a></li>
                    <li><a href="{{ url_for('recommendfood') }}">Recommend Food</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('fitness') }}"><img class='img-valign' src="fitness.png"/> Fitness</a>
                <ul>
                    <li><a href="{{ url_for('fitnessdiary') }}">Diary</a></li>
                    <li><a href="{{ url_for('fitnessworkout') }}">Workout</a></li>
                    <li><a href="{{ url_for('fitnessexercise') }}">Exercise</a></li>
                </ul>
            </li>
            <li><a href='#'><img class='img-valign' src="logout.png"/> Logout</a></li>
            <li><a href="{{ url_for('profile') }}"><img class='img-valign' src="default profile pic.png"/> Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>
</body>
</html>