{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}


{% block styles %}
{{super()}}
<meta charset="utf-8">
        <title>Add Food</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/search.css">
{% endblock %}

{% block content %}
    <div class="container">
        <header>Add</header>
        <header id = "meal">{{meal}}</header>
        <div class="row first-row">
            <form method="POST" action=""  class="main-form">
            <dl class="col-md-10 col-lg-10">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.foodname) }}
            </dl><input class="searchbutton" type="image" src="../static/search.png" width="20" height="20" alt="Submit" />
            </form>

        </div>
        {% if foodList %}
        {% for food in foodList %}
            <div class="card border-dark">
                <div class="card-body px-5">
                    <div class="row"> 
                        <div class="col-10">
                            <div class="row mb-2"> 
                                <div class="col-3"><b>Food Name</b></div>
                                <div class="col-1 text-center"><b>Calorie</b></div>
                                <div class="col-2 text-center"><b>Carbohydrates</b></div>
                                <div class="col-1 text-center"><b>Fat</b></div>
                                <div class="col-2 text-center"><b>Saturated Fat</b></div>
                                <div class="col-1 text-center"><b>Protein</b></div>
                                <div class="col-1 text-center"><b>Sodium</b></div>
                                <div class="col-1 text-center"><b>Fibres</b></div>
                            </div>
                            <div class="row" style="background-color:#ccffe6"> 
                                <div class="col-3"><b>{{food.food_name}}</b></div>
                                <div class="col-1 text-center">{{food.food_calories}}</div>
                                <div class="col-2 text-center">{{food.food_carb}}</div>
                                <div class="col-1 text-center">{{food.food_fat}}</div>
                                <div class="col-2 text-center">{{food.food_saturatedfat}}</div>
                                <div class="col-1 text-center">{{food.food_protein}}</div>
                                <div class="col-1 text-center">{{food.food_sodium}}</div>
                                <div class="col-1 text-center">{{food.food_fibres}}</div>
                            </div>
                        </div>
                        <div class="col-2 align-self-center text-center">
                            <a href="{{ url_for('diary') }}" class="btn btn-primary btn-lg active   "><i class="fa fa-plus-circle"></i> Add Food</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $('.table tbody').on('click','.btn',function(){
            var food = $(this).closest('tr');
            var food_name = food.find('th').text();
            var food_calories = food.find('td:eq(0)').text();
            var food_carb = food.find('td:eq(1)').text();
            var food_fat = food.find('td:eq(2)').text();
            var food_saturatedfat = food.find('td:eq(3)').text();
            var food_protein = food.find('td:eq(4)').text();
            var food_sodium = food.find('td:eq(5)').text();
            var food_fibres = food.find('td:eq(6)').text();
            var food_meal = $("#meal").text();
            var data = "/addfoodprocess/"+food_name+"/"+food_calories+"/"+food_carb+"/"+food_fat+"/"+food_saturatedfat+"/"+food_protein+"/"+food_sodium+"/"+food_fibres+"/"+food_meal
            window.location.replace(data);
        })
    </script>




{% endblock %}

