{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}


{% block styles %}
<meta charset="utf-8">
        <title>Add Food</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
<link rel="stylesheet" href="{{url_for('static', filename='search.css')}}">
{% endblock %}

{% block content %}
<div class="container">
<!-- Quick Add Modal -->
<div class="modal fade" id="quickaddmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="quickaddmodal">Quick Add Food Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
            <div class="modal-body">
                <div class="form-group">
                    <label>Food Name</label>
                        <input type="text" id="name" class="form-control mx-sm-3" >
                </div>

                <div class="form-group">
                    <label>Calories</label>
                        <input type="text" id="calories" class="form-control mx-sm-3" aria-describedby="caloriesHelp">
                        <small id="caloriesHelp" class="text-muted">kcal</small>
                </div>
                <div>
                    <label>Carbohydrate</label>
                        <input type="text" id="carb" class="form-control mx-sm-3" aria-describedby="carbHelp">
                        <small id="carbHelp" class="text-muted">g</small>
                </div> 
                <div>
                    <label>Fat</label>
                        <input type="text" id="fat" class="form-control mx-sm-3" aria-describedby="fatHelp">
                        <small id="fatHelp" class="text-muted">g</small>
                </div>
                <div>
                    <label>Saturated Fat</label>
                        <input type="text" id="sat" class="form-control mx-sm-3" aria-describedby="satHelp">
                        <small id="satHelp" class="text-muted">g</small>
                </div>
                <div>
                    <label>Protein</label>
                        <input type="text" id="protein" class="form-control mx-sm-3" aria-describedby="proteinHelp">
                        <small id="proteinHelp" class="text-muted">g</small>
                </div>
                <div>
                    <label>Sodium</label>
                        <input type="text" id="sodium" class="form-control mx-sm-3" aria-describedby="sodiumHelp">
                        <small id="sodiumHelp" class="text-muted">mg</small>
                </div>
                <div>
                    <label>Fibres</label>
                        <input type="text" id="fibres" class="form-control mx-sm-3" aria-describedby="fibresHelp">
                        <small id="fibresHelp" class="text-muted">g</small>
                    </div>
              

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary anybutton" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary anybutton savechangesbtn" id="savechanges">Save changes</button>
        </div>
        
    </div>
    </div>
</div>


    <div class="container">
        
        <div class = 'row first-row'>
            <div style="clear: both">
                <h2 style="float: left" >Add  :</header>
                <h2 style="float: left" id = "meal">{{meal}}</header>
            </div>
        </div>
        
        <div class="row">
            <form method="POST" action=""  class="main-form">
            <dl class="col-md-10 col-lg-10">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.foodname) }}
            </dl>
            <input class="searchbutton" type="image" src="../static/search.png" width="20" height="20" alt="Submit" />
            <button class="btn btn-primary anybutton" id = 'quickadd' style = "width:110px;"><span class="glyphicon glyphicon-plus-sign"></span> Quick Add </button></td>
            </form>
        </div>
        {% if foodList %}
        {% for food in foodList %}
            <div class="row">
                <div class="results container-fluid">
                <div class="col-12">
                    <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope='col'>ID</th>
                        <th scope="col">Food Name</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Carb</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Saturated Fat</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Sodium</th>
                        <th scope="col">Fibres</th>
                        <th scope="col" class = "text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="results-row">
                        <th scope="row" id ="name">{{food.food_id}}</th>
                        <td>{{food.food_name}}</th>
                        <td>{{food.food_calories}}</td>
                        <td>{{food.food_carb}}</td>
                        <td>{{food.food_fat}}</td>
                        <td>{{food.food_saturatedfat}}</td>
                        <td>{{food.food_protein}}</td>
                        <td>{{food.food_sodium}}</td>
                        <td>{{food.food_fibres}}</td>
                        <td class = "text-right"><button class="btn anybutton" style = "width:100px;"><span class="glyphicon glyphicon-plus-sign"></span> Add Food </button></td>
                    </tr>
                </tbody>
            </table>
                </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

     <script>
        $('.table tbody').on('click','.btn',function(){
            var food = $(this).closest('tr');
            var food_id = food.find('th').text();
            var food_name = food.find('td:eq(0)').text();
            var food_calories = food.find('td:eq(1)').text();
            var food_carb = food.find('td:eq(2)').text();
            var food_fat = food.find('td:eq(3)').text();
            var food_saturatedfat = food.find('td:eq(4)').text();
            var food_protein = food.find('td:eq(5)').text();
            var food_sodium = food.find('td:eq(6)').text();
            var food_fibres = food.find('td:eq(7)').text();
            var food_meal = $("#meal").text();
            var data = "/addfoodprocess/"+food_id+"/"+food_name+"/"+food_calories+"/"+food_carb+"/"+food_fat+"/"+food_saturatedfat+"/"+food_protein+"/"+food_sodium+"/"+food_fibres+"/"+food_meal
            window.location.replace(data);
        })
    </script>
    <script>
        $('#savechanges').on('click', function(){
            var name = $("#quickaddmodal #name").val().trim();
            var calories = $("#quickaddmodal #calories").val().trim();
            var carb = $("#quickaddmodal #carb").val().trim();
            var fat = $("#quickaddmodal #fat").val().trim();
            var sat = $("#quickaddmodal #sat").val().trim();
            var protein = $("#quickaddmodal #protein").val().trim();
            var sodium = $("#quickaddmodal #sodium").val().trim();
            var fibres = $("#quickaddmodal #fibres").val().trim();
            var food_meal = $("#meal").text();
            var data = "/quickaddfoodprocess/"+name+"/"+calories+"/"+carb+"/"+fat+"/"+sat+"/"+protein+"/"+sodium+"/"+fibres+"/"+food_meal
            console.log(data)
            window.location.replace(data);
        });
    </script>
    <script>
        $('#quickadd').on('click', function(){
            $('#quickaddmodal').modal('show');
        });
    </script>

   
</div>

{% endblock %}

