{% extends 'chartIndex.html' %}

{% block head %}
<title>fucking flask piece of crap</title>
{% endblock %}

{% block body %}
<div class="container">

<table class="table">
    <thead>
        <tr>
            <th>Food Name</th>
            <th>Calories</th>
            <th>Carbohydrates</th>
            <th>Fat</th>
        <tr>
    </thead>
    <tbody>
        {% for food in tableData %}
        <tr>
            <td>{{ food.fname }}</td>
            <td>{{ food.calories }}</td>
            <td>{{ food.carbs }}</td>
            <td>{{ food.fats  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="container">
    <div class="ct-chart ct-perfect-fourth"></div>
</div>
<script type="text/javascript">
    var values = {{ Mvalues|tojson }};
    var data = {labels:['Breakfast', 'Lunch', 'Dinner'],
                series: Mvalues};
    var options = {
        total: 100,
        donut: true,
        showLabel:true,
        labelPosition:'outside'
    };
    new Chartist.Pie('.ct-chart', data, options);
</script>

{% endblock %}