{% extends 'index.html' %}

{% block head %}
<title>food tables</title>

{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">blah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">blah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">blah</a>
    </li>
  </ul>
</nav>



<div id="breakdown" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="breakdown" data-slide-to="0" class="active"></li>
    <li data-target="breakdown" data-slide-to="1"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container-lg bg-dark">
            <div class="ct-chart ct-meal ct-perfect-fourth"></div>
        </div>
        <script type="text/javascript">
            var Mvalues = {{ Mvalues|tojson }};
            var Meal_data = {labels:['Breakfast', 'Lunch', 'Dinner','Snacks'],
                        series: Mvalues};
            var Meal_options = {
                total: 100,
                donut: true,
                donutWidth: '60%',
                showLabel:true,
                labelPosition:'outside'
            };
            new Chartist.Pie('.ct-meal', Meal_data, Meal_options);
        </script>
    </div>

    <div class="carousel-item">
        <div class="container-lg bg-dark">
            <div class="ct-chart ct-nutrition ct-perfect-fourth"></div>
        </div>
        <script type="text/javascript">
            var Nvalues = {{ Nvalues|tojson }};
            var data = {labels:['Carbohydrates', 'Protein', 'Fats'],
                        series: Nvalues};
            var options = {
                height: '60%',
                width:'60%',
                total: 100,
                donut: true,
                donutWidth: '60%',
                showLabel:true,
                labelPosition:'outside'
            };
            new Chartist.Pie('.ct-nutrition', data, options);
        </script>
    </div>
  </div>


  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#breakdown" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#breakdown" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


{% endblock %}