{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}


{% block styles %}
<meta charset="utf-8">
<title>Food Record</title>

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="static/styles/search.css">

{% endblock %}

{% block content %}


<!-- Edit Modal -->
    <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editmodal">Edit Food Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
                <div class="modal-body">
                    <input type='hidden' name="foodrecord_id" id="foodrecord_id">

                    <div class="form-group">
                        <label>Calories</label>
                            <input type="text" id="calories" class="form-control mx-sm-3" aria-describedby="caloriesHelp">
                            <small id="caloriesHelp" class="text-muted">kcal</small>
                    <div>
                        <label>Carbohydrate</label>
                            <input type="text" id="carb" class="form-control mx-sm-3" aria-describedby="carbHelp">
                            <small id="carbHelp" class="text-muted">g</small>
                    </div> 
                    <div>
                        <label>Fat</label>
                            <input type="text" id="fat" class="form-control mx-sm-3" aria-describedby="fatHelp">
                            <small id="fatHelp" class="text-muted">g</small>
                            
                    </div>
                    <div>
                        <label>Saturated Fat</label>
                            <input type="text" id="sat" class="form-control mx-sm-3" aria-describedby="satHelp">
                            <small id="satHelp" class="text-muted">g</small>
                            
                    </div>
                    <div>
                        <label>Protein</label>
                            <input type="text" id="protein" class="form-control mx-sm-3" aria-describedby="proteinHelp">
                            <small id="proteinHelp" class="text-muted">g</small>
                           
                    </div>
                    <div>
                        <label>Sodium</label>
                            <input type="text" id="sodium" class="form-control mx-sm-3" aria-describedby="sodiumHelp">
                            <small id="sodiumHelp" class="text-muted">mg</small>
                          
                    </div>
                    <div>
                        <label>Fibres</label>
                            <input type="text" id="fibres" class="form-control mx-sm-3" aria-describedby="fibresHelp">
                            <small id="fibresHelp" class="text-muted">g</small>
                            
                    </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary savechangesbtn" id="savechanges">Save changes</button>
            </div>
            
        </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="md-form">
                <form action="" method="POST">
                    <!-- <label for="fooddate">Select Date:</label> -->
                    <!-- <input type="date" id="fooddate"> -->
                    {{ form.csrf_token }}
                    {{ wtf.form_field(form.fooddate)}}
                    <input type="submit" alt="Submit" />
                </form>
                <!-- <input placeholder="Select date" type="text" id="datepicker" class="form-control datepicker">
                <button class="picker-opener btn btn-primary btn-sm" data-open="datePicker">Open</button> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="results">
                <div class="col-12">
                    <table class="table">
                    {% if food_list_breakfast %}
                    <h3>Breakfast <button class="btn btn-primary addtbtn" id="add">Breakfast <i class="fa fa-plus-circle"></i></span></button></h3>
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" style = 'text-align:left'>ID</th>
                            <th scope="col" width = '400px' style = 'text-align:left'>Food Name</th>
                            <th scope="col" style = 'text-align:center'>Calories</th>
                            <th scope="col" style = 'text-align:center'>Carb</th>
                            <th scope="col" style = 'text-align:center'>Fat</th>
                            <th scope="col" style = 'text-align:center'>Saturated Fat</th>
                            <th scope="col" style = 'text-align:center'>Protein</th>
                            <th scope="col" style = 'text-align:center'>Sodium</th>
                            <th scope="col" style = 'text-align:center'>Fibres</th>
                            <th scope="col" style = 'text-align:left'>Action</th>
                        </tr>
                    </thead>
                    {% for food in food_list_breakfast %}
                    <tbody>
                        <tr class="results-row">
                            <th scope="row">{{food.foodrecord_id}}</th>
                            <td style = 'text-align:left' class='font-weight-bold'>{{food.food_name}}</th>
                            <td style = 'text-align:center'>{{food.food_calories}}</td>
                            <td style = 'text-align:center'>{{food.food_carb}}</td>
                            <td style = 'text-align:center'>{{food.food_fat}}</td>
                            <td style = 'text-align:center'>{{food.food_saturatedfat}}</td>
                            <td style = 'text-align:center'>{{food.food_protein}}</td>
                            <td style = 'text-align:center'>{{food.food_sodium}}</td>
                            <td style = 'text-align:center'>{{food.food_fibres}}</td>
                            <td class = "text-right"><button class="btn btn-primary btn-sm editbtn"  data-toggle="editmodal" data-target="#edit"><i class="fa fa-pencil-square"></i></button>
                                                     <button class="btn btn-primary btn-sm deletebtn" id = "delete"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h3>Breakfast <button class="btn btn-primary addtbtn" id="add">Breakfast <i class="fa fa-plus-circle"></i></button></h3>
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="results">
                <div class="col-12">
                    <table class="table">
                    {% if food_list_lunch %}
                    <h3>Lunch <button class="btn btn-primary addtbtn" id="add">Lunch <i class="fa fa-plus-circle"></i></button></h3>
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" style = 'text-align:left'>ID</th>
                            <th scope="col" width = '350px' style = 'text-align:left'>Food Name</th>
                            <th scope="col" style = 'text-align:center'>Calories</th>
                            <th scope="col" style = 'text-align:center'>Carb</th>
                            <th scope="col" style = 'text-align:center'>Fat</th>
                            <th scope="col" style = 'text-align:center'>Saturated Fat</th>
                            <th scope="col" style = 'text-align:center'>Protein</th>
                            <th scope="col" style = 'text-align:center'>Sodium</th>
                            <th scope="col" style = 'text-align:center'>Fibres</th>
                            <th scope="col" style = 'text-align:left'>Action</th>
                        </tr>
                    </thead>
                    {% for food in food_list_lunch %}
                    <tbody>
                        <tr class="results-row">
                            <th scope="row">{{food.foodrecord_id}}</th>
                            <td style = 'text-align:left' class='font-weight-bold'>{{food.food_name}}</th>
                            <td style = 'text-align:center'>{{food.food_calories}}</td>
                            <td style = 'text-align:center'>{{food.food_carb}}</td>
                            <td style = 'text-align:center'>{{food.food_fat}}</td>
                            <td style = 'text-align:center'>{{food.food_saturatedfat}}</td>
                            <td style = 'text-align:center'>{{food.food_protein}}</td>
                            <td style = 'text-align:center'>{{food.food_sodium}}</td>
                            <td style = 'text-align:center'>{{food.food_fibres}}</td>
                            <td class = "text-right"><button class="btn btn-primary editbtn"   data-toggle="editmodal" data-target="#edit"><i class="fa fa-pencil-square"></i></button>
                                                     <button class="btn btn-primary deletebtn" id = "delete"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h3>Lunch <button class="btn btn-primary addtbtn" id="add">Lunch <i class="fa fa-plus-circle"></i></button></h3>
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="results">
                <div class="col-12">
                    <table class="table">
                    {% if food_list_dinner %}
                    <h3>Dinner <button class="btn btn-primary addtbtn" id="add">Dinner <i class="fa fa-plus-circle"></i></button></h3>
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" style = 'text-align:left'>ID</th>
                            <th scope="col" width = '350px' style = 'text-align:left'>Food Name</th>
                            <th scope="col" style = 'text-align:center'>Calories</th>
                            <th scope="col" style = 'text-align:center'>Carb</th>
                            <th scope="col" style = 'text-align:center'>Fat</th>
                            <th scope="col" style = 'text-align:center'>Saturated Fat</th>
                            <th scope="col" style = 'text-align:center'>Protein</th>
                            <th scope="col" style = 'text-align:center'>Sodium</th>
                            <th scope="col" style = 'text-align:center'>Fibres</th>
                            <th scope="col" style = 'text-align:left'>Action</th>
                        </tr>
                    </thead>
                    {% for food in food_list_dinner %}
                    <tbody>
                        <tr class="results-row">
                            <th scope="row">{{food.foodrecord_id}}</th>
                            <td style = 'text-align:left' class='font-weight-bold'>{{food.food_name}}</th>
                            <td style = 'text-align:center'>{{food.food_calories}}</td>
                            <td style = 'text-align:center'>{{food.food_carb}}</td>
                            <td style = 'text-align:center'>{{food.food_fat}}</td>
                            <td style = 'text-align:center'>{{food.food_saturatedfat}}</td>
                            <td style = 'text-align:center'>{{food.food_protein}}</td>
                            <td style = 'text-align:center'>{{food.food_sodium}}</td>
                            <td style = 'text-align:center'>{{food.food_fibres}}</td>
                            <td class = "text-right"><button class="btn btn-primary editbtn" data-toggle="editmodal" data-target="#edit"><i class="fa fa-pencil-square"></i></button>
                                                     <button class="btn btn-primary deletebtn" id = "delete"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h3>Dinner <button class="btn btn-primary addtbtn" id="add">Dinner<i class="fa fa-plus-circle"></i></button></h3>
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="results">
                <div class="col-12">
                    <table class="table">
                    {% if food_list_snack %}
                    <h3>Snack <button class="btn btn-primary addtbtn" id="add">Snack <i class="fa fa-plus-circle"></i></button></h3>
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" width = '10px' style = 'text-align:left'>ID</th>
                            <th scope="col" width = '350px'>Food Name</th>
                            <th scope="col" style = 'text-align:center'>Calories</th>
                            <th scope="col" style = 'text-align:center'>Carb</th>
                            <th scope="col" style = 'text-align:center'>Fat</th>
                            <th scope="col" style = 'text-align:center'>Saturated Fat</th>
                            <th scope="col" style = 'text-align:center'>Protein</th>
                            <th scope="col" style = 'text-align:center'>Sodium</th>
                            <th scope="col" style = 'text-align:center'>Fibres</th>
                            <th scope="col" style = 'text-align:left'>Action</th>
                        </tr>
                    </thead>
                    {% for food in food_list_snack %}
                    <tbody>
                        <tr class="results-row">
                            <th scope="row">{{food.foodrecord_id}}</th>
                            <td style = 'text-align:left' class='font-weight-bold'>{{food.food_name}}</th>
                            <td style = 'text-align:center'>{{food.food_calories}}</td>
                            <td style = 'text-align:center'>{{food.food_carb}}</td>
                            <td style = 'text-align:center'>{{food.food_fat}}</td>
                            <td style = 'text-align:center'>{{food.food_saturatedfat}}</td>
                            <td style = 'text-align:center'>{{food.food_protein}}</td>
                            <td style = 'text-align:center'>{{food.food_sodium}}</td>
                            <td style = 'text-align:center'>{{food.food_fibres}}</td>
                            <td class = "text-right"><button class="btn btn-primary editbtn" data-toggle="editmodal" data-target="#edit"><i class="fa fa-pencil-square"></i></button>
                                                     <button class="btn btn-primary deletebtn" id = "delete"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h3>Snack <button class="btn btn-primary addtbtn" id="add">Snack <i class="fa fa-plus-circle"></i></button></h3>
                    {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <script>
            $(".addtbtn").on('click', function(){
                var meal = $(this).text();
                var data = '/addFoodRecord/' +meal;
                window.location.replace(data);
            });
        </script>
        <script>
           $('.deletebtn').on('click', function(){
                $tr = $(this).closest('tr');
                var foodrecord_id = $tr.find('th').text();
                var data = '/deletefoodrecord/' +foodrecord_id;
                window.location.replace(data);
            });
        </script>
        <script>
            $('.editbtn').on('click', function(){
                
                $('#editmodal').modal('show');

                $tr = $(this).closest('tr');
                var data = $tr.children("td").map(function(){
                    return $(this).text();
                }).get();

                console.log(data);

                var foodrecord_id = $tr.find('th').text();
                var food_calories = $tr.find('td:eq(1)').text();
                var food_carb = $tr.find('td:eq(2)').text();
                var food_fat = $tr.find('td:eq(3)').text();
                var food_saturatedfat = $tr.find('td:eq(4)').text();
                var food_protein = $tr.find('td:eq(5)').text();
                var food_sodium = $tr.find('td:eq(6)').text();
                var food_fibres = $tr.find('td:eq(7)').text();

                $('#foodrecord_id').val(foodrecord_id);
                $('#calories').val(food_calories);
                $('#carb').val(food_carb);
                $('#fat').val(food_fat);
                $('#sat').val(food_saturatedfat);
                $('#protein').val(food_protein);
                $('#sodium').val(food_sodium);
                $('#fibres').val(food_fibres);
            });
        </script>
        <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
        <script>
            bootstrapValidate('#calories','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#carb','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#fat','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#sat','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#protein','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#sodium','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
            bootstrapValidate('#fibres','numeric:Please input a valid number!', function (isValid) {
            if (isValid) {
            } else {
                alert('Element is invalid');
            }
            });
        </script>
        <script>
            $('#savechanges').on('click', function(){
                var id = $("#editmodal #foodrecord_id").val().trim();
                var calories = $("#editmodal #calories").val().trim();
                var carb = $("#editmodal #carb").val().trim();
                var fat = $("#editmodal #fat").val().trim();
                var sat = $("#editmodal #sat").val().trim();
                var protein = $("#editmodal #protein").val().trim();
                var sodium = $("#editmodal #sodium").val().trim();
                var fibres = $("#editmodal #fibres").val().trim();
                var data = "/editfoodrecord/"+id+"/"+calories+"/"+carb+"/"+fat+"/"+sat+"/"+protein+"/"+sodium+"/"+fibres
                console.log(data)
                window.location.replace(data);
            });
        </script>
        <script>

                $('.datepicker').pickadate({
                    showMonthsShort: true,
                    onStart: function() {
                        //alert()
                    },
                    autoclose: false,
                    closeOnSelect: false,

                    onClose: function() {
                         
                    },
                });

        </script>        
    </div>

        <div class="container background" style="margin-top:3rem">

        <div class="food-intake">
            <h1 class="text-center">Food Intake Breakdowns</h1>
                <div class="col center-block text-center">
                <form action="{{ url_for('displayFoodRecord') }}" method="post">
                <input type="submit" name="action" value="Nutrients"class="btn btn-primary btn-lg active">
                <input type="submit" name="action" value="Calories" class="btn btn-primary btn-lg active">
                </form>
                </div>
        </div>  
            <h1 class="text-center"><u>{{header}}</u></h1>
        <div class='row'>
            <div class="ct-chart ct-golden-section"></div>
            </div>
                <script type="text/javascript">
                    var values = {{ values|tojson }};
                    var labels = {{ labels|tojson }};
                    var data = {labels:labels,
                                series: values};
                    var options = {
                        donut: true,
                        donutWidth:'55%',
                        showLabel:true,
                        labelDirection: 'explode'
                    };
                    var responsiveOptions = [
                    ['screen and (min-width: 640px)', {
                    chartPadding: 50,
                    labelOffset: 50,
                    labelDirection: 'explode',
                    labelInterpolationFnc: function(value) {
                        return value;
                    }
                    }],
                    ['screen and (min-width: 1024px)', {
                    labelOffset:50,
                    chartPadding:20
                    }]
                    ];
                    new Chartist.Pie('.ct-chart', data, options, responsiveOptions);
                </script>
        </div>
        </div>


        
{% endblock %}